@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
  font-weight:700;
  font-style: normal;
  font-display: swap;
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Cream);
  color: var(--Dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.card {
  max-inline-size: 21.4375rem;
  background-color: var(--White);
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.card__image {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 10px 10px 0 0;
  aspect-ratio: 686 / 480;
}

.card__content {
  padding: 1.5rem;
}

.card__category {
  margin-block-start: 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.card__title,
.card__price--current {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
}

.card__title {
  margin-block: 0.75rem 1rem;
  color: var(--Very-dark-blue);
}

.card__perfume-description {
  line-height: 1.7;
  margin-block-end: 1.5rem;
}

.card__price {
  display: flex;
  align-items: center;
  margin-block-end: 1.25rem;
}

.card__price--current {
  color: var(--Dark-cyan);
  margin-inline-end: 1.1875rem;
}

.card__price--original {
  font-size: 0.8125rem;
  text-decoration: line-through;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--Dark-cyan);
  color: var(--White);
  font-weight: 700;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.card__button:hover {
  background-color: hsl(158, 42%, 18%);
}

.card__button-icon {
  margin-inline-end: 0.725625rem;
}

@media (min-width: 90rem) {
  .card {
    display: flex;
    max-inline-size: 37.5rem;
  }
  .card__image {
    block-size: 100%; 
    border-radius: 10px 0 0 10px;
    aspect-ratio: 600 / 900;
  }
}
